@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #293f58;
  color: white;
  font-family: "Roboto", sans-serif;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;

  /*  justify-content: center; */
  align-items: center;
  background-color: darkkhaki;
  overflow: hidden;
}

/* CSS for dayView--------------------------------  */

#windContainer {
  width: 20%;
  position: relative;
}

#windDirection {
  width: 100%;
  height: auto;
}

#windSpeed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
}
